body {
  font-family: 'Rubik', sans-serif;
  background-color: antiquewhite;
}

form {
  max-width: 240px;
}

form p {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

label {
  font-size: 0.8em;
}

input {
  border: 2px solid black;
  border-radius: 5px;
}

input.is-invalid {
  border-color: red;
}

:focus {
  outline: none;
  box-shadow: 4px 4px 4px rgb(0 0 255 / 0.5);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-inline: 14px;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  background-color: aquamarine;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
}

.modal:not(.is-active) {
  scale: 0;
}
